.search-content-form-label__input {
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding-left: 15px;
  margin-right: 10px;
  border: 1px solid #d2d2d2;
  margin-bottom: 15px;
}

.search-content-form-label__input.error {
  border-color: red;
}

.search-content-form-label__input.error::placeholder {
  color: red;
}

@media (min-width: 768px) {
  .search-content-form-label__input {
    height: 50px;
    width: 95%;
    margin-bottom: 0;
  }
}
