body,
html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  font: 400 16px system-ui;
}

.main {
  margin: 20px;
}

.search-content {
  background: #fff;
  width: 100%;
  padding: 30px 15px 35px 15px;
  border: 1px solid #ddd;
  margin: 0 0 22px 0;
}

.search-content-form {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.result-content {
  background: #fff;
  width: 100%;
  padding: 30px 15px 30px 15px;
  border: 1px solid #ddd;
  color: #666;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.result-content.active {
  opacity: 1;
  visibility: visible;
}

.result-content-item {
  padding-bottom: 9px;
  display: flex;
}

.result-content-item > strong {
  font-weight: bolder;
  margin-right: 8px;
}

.search-content-form__error {
  color: red;
  display: block;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .search-content {
    width: 600px;
    margin: 0 auto 22px auto;
  }

  .search-content-form {
    margin-left: 120px;
  }

  .result-content {
    width: 600px;
    margin: auto;
  }

  .result-content-items {
    padding-left: 15px;
  }
}
