.search__button {
  background: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 14px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .search__button {
    padding: 16px;
  }
}
